<script src="static/static/assets/js/libs.min.js"></script>
<!-- slider JavaScript -->
<script src="static/static/assets/js/slider.js"></script>
<!-- masonry JavaScript -->
<script src="static/static/assets/js/masonry.pkgd.min.js"></script>
<!-- SweetAlert JavaScript -->
<script src="static/static/assets/js/enchanter.js"></script>
<!-- SweetAlert JavaScript -->
<script src="static/static/assets/js/sweetalert.js"></script>
<!-- app JavaScript -->
<script src="static/static/assets/js/charts/weather-chart.js"></script>
<script src="static/static/assets/js/app.js"></script>
<script src="static/static/assets/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
<script src="static/static/assets/js/lottie.js"></script>
